.card-mask-root {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-mask-root .row {
  display: flex;
}

.card-mask-root .row .col {
  flex: 1;
  height: 150px;
  background-color: darkgoldenrod;
  border: 1px solid #000;
}